:root {
  --branding-color: #ffaaa5;
  --primary-color: rgba(0, 0, 0, 0.5);
  --secondary-color: #000000;
}

body {
  background: #f5f5f5;
  margin: 0 auto;
}

h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 57px;
  line-height: 69px;
  color: var(--secondary-color);
}

h2,
h3 {
  padding-top: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: var(--primary-color);
}

p {
  text-align: left;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-color);
}

img {
  margin: 0 150px;
  width: 30%;
  border-radius: 20px;
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

.logo {
  max-width: 150px;
  border-radius: 5px;
}

nav {
  padding: 20px;
  font-weight: bolder;
}

nav ul {
  padding: 0 20px;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  font-weight: 700px;
}
nav li.active a,
nav a:hover {
  color: var(--branding-color);
}

nav a:hover {
  transition: all 150ms ease-in-out;
}

.hello {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-left: 0;
  text-align: start;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 7px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.fa-circle {
  color: var(--branding-color);
  padding: 5px;
}

.hero {
  margin-right: 100px;
  color: var(--secondary-color);
  background: #fcf8f3;
  border-radius: 12px;
}

.btn-branding {
  width: 170px;
  height: 43px;
  font-weight: 500;
  margin: 20px 0;
  background: var(--branding-color);
  border-radius: 7px;
  color: var(--primary-color);
}
.btn-branding:hover {
  color: var(--primary-color);
}

/* #myphoto {
  margin-top: 100px;
  margin-left: 400px;
  max-width: 130px;
} */

#projects {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 80px;
}

#middle-project {
  margin-left: 150px;
}

@media (max-width: 800px) {
  body {
    margin-right: 0;
    padding-right: 0;
  }

  h1,
  .hello,
  .hero {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin: 0;
    font-weight: 100;
  }

  nav {
    font-weight: 100;
    text-align: center;
    font-size: 15px;
  }
  .logo {
    max-width: 30%;
    margin-left: 0;
  }

  .project-desciption {
    text-align: center;
    padding: 0;
  }
}
