:root {
  --branding-color: #ffaaa5;
  --primary-color: rgba(0, 0, 0, 0.5);
  --secondary-color: #000000;
}

body {
  background: #f5f5f5;
  margin: 0 auto;
}

h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 57px;
  line-height: 69px;
  color: var(--secondary-color);
}

h2,
h3 {
  padding-top: 0px;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: var(--primary-color);
}

p {
  text-align: center;
  margin: 30px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-color);
}

img {
  margin: 0 30px;
  width: 300px;
  border-radius: 20px;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}
nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  font-weight: 700px;
}
nav li.active a,
nav a:hover {
  color: var(--branding-color);
}

nav a:hover {
  transition: all 150ms ease-in-out;
}

.hello {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: start;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.fa-circle {
  color: var(--branding-color);
}

.hero {
  width: 557px;
  height: 300px;
  margin-top: 100px;
  margin-right: 300px;
  color: var(--secondary-color);
  background: #fcf8f3;
  border-radius: 20px;
}

.btn-branding {
  width: 170px;
  height: 43px;
  left: 819px;
  top: 480px;
  margin-bottom: 30px;
  background: var(--branding-color);
  border-radius: 5px;
  color: var(--primary-color);
}
.btn-branding:hover {
  color: var(--primary-color);
}

.logo {
  max-width: 150px;
  border-radius: 5px;
}

#myphoto {
  margin-top: 100px;
  margin-left: 400px;
  max-width: 130px;
}

#projects {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 80px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 56px;
  }

  h2 {
    font-size: 44px;
  }
  .logo {
    max-width: 40%;
  }

  .hero {
    padding: 80px 20px;
  }

  .project-desciption {
    text-align: center;
    padding: 0;
  }
}
