body {
  background: pink;
  margin: 0;
}

h1 {
  position: absolute;
  width: 146px;
  height: 23px;
  left: 1450px;
  top: 17px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;

  color: #000000;
}
